.result-page-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1;
  background-color: #fff;
  padding: 45px 20px;

  .page-body {
    flex: 1;
    margin: 20px 0;
    line-height: 1.6;
    .title {
      text-align: center;
      font-size: 22px;
      margin-bottom: 15px;
      font-weight: bolder;
      color: #000;
    }
    .desc {
      font-size: 16px;
      color: #333;
    }
  }

  .page-header {
    text-align: center;
    .success-icon {
      width: 60px;
      height: 60px;
    }
  }

  .success-icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    color: #007bff;
    background-color: currentColor;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z'/%3E%3C/svg%3E");
  }

  .button {
    display: inline-block;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
    outline: 0;
    border: none;
  }

  .cart-cell {
    display: flex;
    align-items: center;
    padding: 8px 0;
  }

  .cart-bd {
    flex: 1;
    line-height: 1.5;
    font-size: 15px;
  }

  .cart-del {
    display: inline-block;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-color: #333;
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z'/%3E%3Cpath fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z'/%3E%3C/svg%3E");
  }
}
