.detail-page-root {
  min-height: 100vh;
  background-color: #f4f4f4;
  line-height: 1;
  padding-bottom: 45px;

  .detail-info {
    padding: 12px;
    background-color: #fff;
    margin-bottom: 20px;
    .price {
      margin-bottom: 10px;
      color: #f47920;
      font-size: 20px;
      font-weight: bolder;
    }
    .title {
      margin-bottom: 10px;
      line-height: 1.5;
      font-size: 13px;
      color: #333;
    }
    .sub-title {
      font-size: 12px;
      color: #999;
      line-height: 1.5;
    }
  }

  .detail-footer {
    position: fixed;
    z-index: 10;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #f1f1f1;
    background-color: #fff;
    height: 45px;
    align-items: center;
    .btn {
      flex: 1;
      border-radius: 40px;
      text-align: center;
      font-size: 14px;
      color: #fff;
      line-height: 34px;
      margin: 0 6px;
      &.orange {
        background-color: #f58220;
      }
      &.red {
        background-color: #ed1941;
      }
    }
  }
}
